body{
    background-color: #f0f0f0;
}
#container{
    height: 900px;
}
#prayer{
    width: fit-content;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
#title{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    
}
.pr{
    display: flex;
    width: 15vw;
    height: 7vw;
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
    background-color: #b37406;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
}
.time{
    display: flex;
    width: 15vw;
    height: 7vw;
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
    background-color: #d1cbc0;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
}
#date{
    font-size: 4vw;
    color: #ffffff;
    background-color: #4a708b;
    padding: 10px 20px;
    border-radius: 12px;
    text-align: center;
    width: fit-content;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
select{
    width: 10vw;
    height: 2.7vw;
    font-size: 2vw;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #183f63;

}
ol {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end; 
    padding: 0;
}

li {
    margin-left: 10px; 
    padding: 10px 20px;
    background-color: #895656;
    color: white;
    border-radius: 8px;
    font-family: Arial, sans-serif;
}
